In [1]:
for step in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [3]:
list(range(4, 10))

[4, 5, 6, 7, 8, 9]

In [4]:
list(range(4, 10, 2))

[4, 6, 8]

In [6]:
sum(range(1, 4))

6

In [8]:
total  = 0
for step in range(2, 10, 2): # [2, 4, 6, 8]
    total += step
    
total

20

In [9]:
sum(range(2, 10, 2))

20

In [14]:
product  = 1
for step in range(1, 11): # [1 ... 10]
    product *= step
    
product

3628800

In [13]:
import math
math.factorial(10)

3628800

In [ ]:
help(range)

In [30]:
list(range(5))
evens = [2, 4, 6, 8, 10, 12, 14, 16]

evens
list(range(len(evens)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [33]:
for index in range(len(evens)):
    print(index, evens[index])

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16

In [35]:
for number in evens:
    print(number)

2
4
6
8
10
12
14
16

In [44]:
# indexes  0  1  2  3    4   5  6  7   8
numbers = [5, 1, 8, 9, -11, -5, 0, 7, -1]
numbers = sorted(numbers)


# Returns True if list is sorted in ascending order
def sorted_ascending(sequence):
    
    # iterate over each of the indexes
    for index in range(len(sequence) - 1):

        # if the value at this index is
        # greater than the one that follows
        if sequence[index] > sequence[index + 1]:
            return False
    
    # all values must be <= the one after it
    return True

sorted_ascending(numbers)
sorted_ascending([1, 1])

True

In [47]:
# generate a list of fibonacci numbers

# initialise our variable
fibonacci = [0, 1]

# for the next 10 numbers
for index in range(10): # [0..9]
    
    fibonacci.append(fibonacci[index] + fibonacci[index + 1])
    
len(fibonacci)

12

In [66]:
# print the 7 times table
for multiplicand in range(1, 13): # [1..12]
    print(str(multiplicand).rjust(2), "x 3 =", multiplicand * 3)

 1 x 3 = 3
 2 x 3 = 6
 3 x 3 = 9
 4 x 3 = 12
 5 x 3 = 15
 6 x 3 = 18
 7 x 3 = 21
 8 x 3 = 24
 9 x 3 = 27
10 x 3 = 30
11 x 3 = 33
12 x 3 = 36

In [ ]:
help(str.rjust)

In [ ]:
# generate the times table for all numbers between 1 and 12
for multiplicand in range(1, 13): # [1..12]
    
    print(multiplicand, "times table:")
    
    for multiplier in range(1, 13): # [1..12]
        # print(str(multiplicand).rjust(2), "x", multiplier, "=", multiplicand * multiplier)
        print("{} x {} = {}".format(str(multiplicand).rjust(2), multiplier, multiplicand * multiplier))
        
    print("------------------------------")

In [6]:
number = 2

while number < 100:
    
    print(number)
    number *= 2

2
4
8
16
32
64

In [8]:
# infinite loop
counter = 0

while False:
    print(counter)
    counter += 1

In [9]:
# for-each loop
numbers = [3, 5, 7, 9]

for number in numbers:
    print(number)

3
5
7
9

In [10]:
# range loop
for index in range(len(numbers)): # [0..3]
    
    print(numbers[index])

3
5
7
9

In [11]:
# while loop
index = 0

while index < len(numbers):
    
    print(numbers[index])
    index += 1

3
5
7
9

Euler's number:

$e = \sum_\limits{n=0}^{\infty} \frac{1}{n!}$

In [17]:
# Calculate the factorial of a given number
def calculate_factorial(number):
    
    total = 1
    
    for number in range(1, number + 1):
        
        total *= number
        
    return total
    
calculate_factorial(4) # 1 x 2 x 3

24

In [ ]:
import math
math.factorial(4)
help(math.factorial)

In [20]:
# calculate an approximation of Euler's number
total = 0
number = 0

previous = -1

while previous != total:
    
    previous = total
    
    total += 1 / math.factorial(number)
    print(number, total)
    number += 1

0 1.0
1 2.0
2 2.5
3 2.6666666666666665
4 2.708333333333333
5 2.7166666666666663
6 2.7180555555555554
7 2.7182539682539684
8 2.71827876984127
9 2.7182815255731922
10 2.7182818011463845
11 2.718281826198493
12 2.7182818282861687
13 2.7182818284467594
14 2.71828182845823
15 2.718281828458995
16 2.718281828459043
17 2.7182818284590455
18 2.7182818284590455